# Learning Outcome

1. To understand the installation process of Anaconda and a few Python libraries for performing data pre-processing
2. To get acquainted with the functionalities of Pandas in data analysis
3. To learn various tools and techniques for compensating missing values in the given data
4. To understand the various ways of data standardisation and normalisation
5. To learn the basic visualisation techniques in Python

## Task 1

Import the dataset World GDP.csv and store as a Pandas data frame. As demonstrated during the
workshop, perform some basics operations on this data frame such as, reading data, making changes
in the data frame, saving data into desired format, filtering and aggregate statistics.

In [29]:
# loading libraries

import pandas as pd
import numpy as np

In [7]:
# loading the data
# i know its bad practise but couldbe bothered to change the slashes lol

world_gdp_data = pd.read_csv(r"C:\Users\44783\Downloads\World GDP.csv")

world_gdp_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.472881e+09,2.439006e+09,2.541401e+09,2.549025e+09,2.694320e+09,2.750900e+09,2.805918e+09,NaN,NaN
1,Afghanistan,AFG,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10,2.112666e+10,2.173959e+10
2,Angola,AGO,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,8.670900e+10,9.411581e+10,9.877886e+10,1.035430e+11,1.045200e+11,1.018230e+11,1.016730e+11,9.963591e+10,9.876968e+10
3,Albania,ALB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192693e+10,1.223051e+10,1.240388e+10,1.252816e+10,1.275047e+10,1.303338e+10,1.346541e+10,1.397739e+10,1.454645e+10,1.486852e+10
4,Andorra,AND,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.449967e+09,3.449688e+09,3.278086e+09,3.161792e+09,3.240978e+09,3.287459e+09,3.409413e+09,3.421212e+09,3.475567e+09,3.539838e+09

# # TASK 2
Choose any five countries of your choice and make a new data frame containing only five countries
and their GDP data (from 1960 until 2019).

In [10]:
# to show unique countries

world_gdp_data["Country Name"].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [26]:


# create a country list

countries = ['South Africa', 'Zambia', 'Zimbabwe', 'Tanzania', 'Malawi']

#filter out the list

africa_gdp = world_gdp_data[world_gdp_data["Country Name"].isin(countries)]

africa_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,8.727495e+08,9.394241e+08,9.457029e+08,9.325474e+08,9.573635e+08,1.087723e+09,...,6.959656e+09,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.201425e+10,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,7.907096e+10,8.211104e+10,8.718376e+10,9.361236e+10,1.010450e+11,1.072320e+11,...,3.753490e+11,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,4.592976e+09,4.655504e+09,4.539543e+09,4.688094e+09,5.260700e+09,6.136473e+09,...,2.026556e+10,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,3.756656e+09,3.993933e+09,4.051225e+09,4.304197e+09,4.256585e+09,4.465608e+09,...,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10

In [21]:
# old school filter method

#selected_countries = (world_gdp_data["Country Name"] == 'South Africa') | (world_gdp_data["Country Name"] == 'Zambia')|(world_gdp_data["Country Name"] == 'Zimbabwe') | (world_gdp_data["Country Name"] == 'Tanzania')|(world_gdp_data["Country Name"] == 'Malawi')

In [22]:
#africa_gdp = world_gdp_data[selected_countries]
#africa_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,8.727495e+08,9.394241e+08,9.457029e+08,9.325474e+08,9.573635e+08,1.087723e+09,...,6.959656e+09,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.201425e+10,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,7.907096e+10,8.211104e+10,8.718376e+10,9.361236e+10,1.010450e+11,1.072320e+11,...,3.753490e+11,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,4.592976e+09,4.655504e+09,4.539543e+09,4.688094e+09,5.260700e+09,6.136473e+09,...,2.026556e+10,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,3.756656e+09,3.993933e+09,4.051225e+09,4.304197e+09,4.256585e+09,4.465608e+09,...,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10

# Task 3 

Perform z-score standardisation on the GDP data (1960-2019) of all the five countries.

In [77]:
africa_gdp_2 = africa_gdp.copy()

africa_gdp_2.dropna(axis=1,inplace=True)
africa_gdp_2.tail(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1988,1989,1990,1991,1992,1993,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,zscore
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,2.912753e+09,2.951921e+09,3.119953e+09,3.392332e+09,3.143573e+09,3.448243e+09,...,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09,-0.571135
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,1.137711e+10,1.180539e+10,1.263709e+10,1.289893e+10,1.297430e+10,1.313075e+10,...,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10,-0.470244
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,2.184820e+11,2.237150e+11,2.230040e+11,2.207330e+11,2.160160e+11,2.186800e+11,...,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11,1.998358
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,8.515953e+09,8.428792e+09,8.388243e+09,8.385212e+09,8.240071e+09,8.800171e+09,...,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10,-0.504347
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,1.285471e+10,1.352312e+10,1.446819e+10,1.526854e+10,1.389200e+10,1.403806e+10,...,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10,-0.452631

In [39]:
#africa_numerical = africa_gdp_2.select_dtypes(exclude = ["object"])

#africa_numerical

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,zscore
166,2.912753e+09,2.951921e+09,3.119953e+09,3.392332e+09,3.143573e+09,3.448243e+09,3.095136e+09,3.612916e+09,3.877262e+09,4.024304e+09,...,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09,-0.571135
244,1.137711e+10,1.180539e+10,1.263709e+10,1.289893e+10,1.297430e+10,1.313075e+10,1.333659e+10,1.381270e+10,1.444040e+10,1.494946e+10,...,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10,-0.470244
261,2.184820e+11,2.237150e+11,2.230040e+11,2.207330e+11,2.160160e+11,2.186800e+11,2.256780e+11,2.326740e+11,2.426790e+11,2.489890e+11,...,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11,1.998358
262,8.515953e+09,8.428792e+09,8.388243e+09,8.385212e+09,8.240071e+09,8.800171e+09,8.041118e+09,8.274122e+09,8.788653e+09,9.123853e+09,...,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10,-0.504347
263,1.285471e+10,1.352312e+10,1.446819e+10,1.526854e+10,1.389200e+10,1.403806e+10,1.533451e+10,1.535874e+10,1.695001e+10,1.740437e+10,...,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10,-0.452631

In [78]:
from scipy.stats import zscore

africa_gdp_2["zscore"] = zscore(africa_gdp_2["1988"])
africa_gdp_2["zscore"]

166   -0.571135
244   -0.470244
261    1.998358
262   -0.504347
263   -0.452631
Name: zscore, dtype: float64

In [80]:

# create a country list

countries = ['South Africa', 'Zambia', 'Zimbabwe', 'Tanzania', 'Malawi']

#filter out the list

africa_gdp = world_gdp_data[world_gdp_data["Country Name"].isin(countries)]

africa_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,8.727495e+08,9.394241e+08,9.457029e+08,9.325474e+08,9.573635e+08,1.087723e+09,...,6.959656e+09,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.201425e+10,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,7.907096e+10,8.211104e+10,8.718376e+10,9.361236e+10,1.010450e+11,1.072320e+11,...,3.753490e+11,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,4.592976e+09,4.655504e+09,4.539543e+09,4.688094e+09,5.260700e+09,6.136473e+09,...,2.026556e+10,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,3.756656e+09,3.993933e+09,4.051225e+09,4.304197e+09,4.256585e+09,4.465608e+09,...,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10

In [85]:



#test_data = africa_gdp.melt(id_vars = 'Country Name', var_name = 'Year', value_name = 'test')

#test2 = pd.melt(africa_gdp, id_vars = 'Country Name', var_name = 'Year', value_name = 'test')

#test2.head()

   Country Name          Year test
0        Malawi  Country Code  MWI
1      Tanzania  Country Code  TZA
2  South Africa  Country Code  ZAF
3        Zambia  Country Code  ZMB
4      Zimbabwe  Country Code  ZWE

# TASK 4

Performs some normalisation techniques such as, min-max, log scaling on the GDP data (1960-2019)
of all the five countries.

In [44]:
africa_gdp_3 = africa_gdp.copy()

In [46]:
africa_gdp_3["1988"] = africa_gdp_3["1988"]/africa_gdp_3["1988"].max()

africa_gdp_3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1988,1989,1990,1991,1992,1993,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,zscore
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.013332,2.951921e+09,3.119953e+09,3.392332e+09,3.143573e+09,3.448243e+09,...,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09,-0.571135
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.052073,1.180539e+10,1.263709e+10,1.289893e+10,1.297430e+10,1.313075e+10,...,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10,-0.470244
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,1.000000,2.237150e+11,2.230040e+11,2.207330e+11,2.160160e+11,2.186800e+11,...,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11,1.998358
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.038978,8.428792e+09,8.388243e+09,8.385212e+09,8.240071e+09,8.800171e+09,...,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10,-0.504347
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.058836,1.352312e+10,1.446819e+10,1.526854e+10,1.389200e+10,1.403806e+10,...,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10,-0.452631

In [48]:
africa_gdp_3['1989'] = africa_gdp_3['1989'].apply(lambda x: np.log(x) if x != 0 else 0)

africa_gdp_3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1988,1989,1990,1991,1992,1993,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,zscore
166,Malawi,MWI,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.013332,3.082172,3.119953e+09,3.392332e+09,3.143573e+09,3.448243e+09,...,7.297481e+09,7.435097e+09,7.821722e+09,8.267560e+09,8.499052e+09,8.710172e+09,9.058581e+09,9.345739e+09,9.754076e+09,-0.571135
244,Tanzania,TZA,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.052073,3.143800,1.263709e+10,1.289893e+10,1.297430e+10,1.313075e+10,...,3.447043e+10,3.602166e+10,3.846449e+10,4.105410e+10,4.358329e+10,4.657621e+10,4.973672e+10,5.244487e+10,5.548215e+10,-0.470244
261,South Africa,ZAF,GDP (constant 2010 US$),NY.GDP.MKTP.KD,1.000000,3.263223,2.230040e+11,2.207330e+11,2.160160e+11,2.186800e+11,...,3.876770e+11,3.962570e+11,4.061050e+11,4.136060e+11,4.185430e+11,4.202130e+11,4.261570e+11,4.295110e+11,4.301670e+11,1.998358
262,Zambia,ZMB,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.038978,3.129166,8.388243e+09,8.385212e+09,8.240071e+09,8.800171e+09,...,2.139326e+10,2.301863e+10,2.418280e+10,2.531884e+10,2.605814e+10,2.704230e+10,2.798995e+10,2.911929e+10,2.961601e+10,-0.504347
263,Zimbabwe,ZWE,GDP (constant 2010 US$),NY.GDP.MKTP.KD,0.058836,3.149640,1.446819e+10,1.526854e+10,1.389200e+10,1.403806e+10,...,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,1.885423e+10,1.732704e+10,-0.452631

# TASK 5

Visualise the GDP changes of all the chosen five countries from 1960-2019 using line plots and
scatter plots.

In [ ]:
#for column in df123:
#df123[column]= df123[column].apply(lambda x: np.log(x) if x != 0 else 0)